         
.mainHeader {
    /*@include position(absolute, 0, auto, auto, 0);*/
    width: 100%;
    z-index: 100;
    background: #fff;
    margin: 0;

    &__top {
        background-color: #fff;
        padding: 12px 0;
        font-size: 14px;
    }

    .header-contacts {
        color: #888888;
    }

    &__bottom {
        background-color: $blue;
        padding: 15px 0;
    }

    @media (max-width: 1200px) {
        position: fixed;
        width: 240px;
        left: -240px;
        height: 100%;
        top: 0;
        bottom: 0;
        overflow: auto;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        visibility: hidden;
        background-color: $blue;
        padding-bottom: 30px;
        -webkit-box-shadow: 2px 0px 10px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 2px 0px 10px 0px rgba(0,0,0,0.5);
        box-shadow: 2px 0px 10px 0px rgba(0,0,0,0.5);

        &.active {
            left: 0;
            visibility: visible;
        }

        .flex {
            display: block;
            text-align: center;
        }

        &__top {
            font-size: 12px;
            padding: 20px 0;
        }

        .header-contacts {
            margin-bottom: 20px;
            display: block;
        }

        &__bottom {
            padding-bottom: 0;
        }
    }
}

.languages {
    margin: 0;

    &-item {
        list-style: none;
        display: inline-block;
        padding: 0 15px;
        border-right: 1px solid #AAAAAA;
        margin: 0 -2px;

        @media (max-width: 1200px) {
            padding: 0 10px;
        }

        &:last-child {
            padding-right: 0;
            border-right: 0;

            @media (max-width: 1200px) {
                padding-right: 10px;
            }
        }

        a {
            color: #878787;
        }

        &.active a {
            color: $red;
        }
    }
}

/* ------------------------------------ */
/*  NAV STYLES  */
.mainNav {
    ul {
        margin: 0;

        @media (max-width: 1200px) {
            padding-top: 30px;
        }

        .menu-item {
            list-style: none;
            display: inline-block;
            margin: 0 20px;

            @media (max-width: 1200px) {
                display: block;
                margin: 0;
            }

            &:last-child {
                margin-right: 0;
            }

            a {
                display: block;
                text-decoration: none;
                color: #fff;
                text-transform: uppercase;
                -webkit-transition: all 0.3s ease;
                -o-transition: all 0.3s ease;
                transition: all 0.3s ease;

                @media (max-width: 1200px) {
                    padding: 15px 0;
                }
            }

            &.current-menu-item a,
            a:hover {
                color: $gold;
            }
        }
    }
}




/* ------------------------------------ */
/*  MENU BUTTON  */

.menu-button     {    
    display: none;
    width: 50px;
    height: 50px;
    @include position(fixed, 15px, 15px, auto, auto);
    margin: auto; 
    cursor: pointer;
    z-index: 100;
    background-color: $gold;
    border: none;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    .menu-line {
        display: block;
        @include position(absolute, auto, 0, auto, 0);
        width: 60%;
        height: 5px;
        background-color: #fff;
        -webkit-border-radius: 1px;
        border-radius: 1px;
        @include transition(all, .4s);
    }

    .top_line              {   top: 12px;  margin: auto;}
    .middle_line           {   top: 22px;  margin: auto;}
    .bottom_line           {   bottom: 12px; margin: auto;}

    &.active               {   -webkit-border-radius: 6px; border-radius: 6px;}
    &.active .top_line     {   @include transform(rotate(45deg)); top: 45%;}
    &.active .bottom_line  {   @include transform(rotate(-45deg)); bottom: 45%;}
    &.active .middle_line  {   width: 0; left: 50%;}

    @media (max-width: 1200px) {
        display: block;
    }

}
