// COLORS
// ---------------------------
$gold:                  #bc9871;
$red:                   #ff5c26;
$blue:                  #344146;

// FONTS
// ---------------------------
$fd:                    'Futura New Demi';
$fm:                    'Futura New Medium';


// RESPONSIVE
// ---------------------------
